/* color pallete */
/* border-radius */  
/* text-align */
/* padding button */
/* box-shadow */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  min-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

::webkit-scrollbar {
  display: none;
}

body {
  font-family: arial, sans-serif;
}

.header__logo {
  height: 10rem;
}
@media (max-width: 650px) {
  .header__logo {
    height: 6rem;
  }
}

main {
  min-height: 100vh;
  padding: 2rem 0 5rem;
}
@media (min-width: 900px) {
  main {
    padding: 2rem;
  }
}
main > header {
  font-size: 34px;
  text-align: center;
  width: 100%;
  padding: 2rem;
}
main section#cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 2.5rem;
}
@media (min-width: 1205px) {
  main section#cards-container {
    grid-template-columns: repeat(4, 900px);
    margin-top: 3rem;
    overflow-x: auto;
    padding: 2rem;
  }
}
@media (max-width: 620px) {
  main section#cards-container {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}
main section#cards-container article {
  border-radius: 1rem;
  box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, 0.52);
  overflow: hidden;
  padding: 1.5rem;
  margin: 0 1rem;
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  gap: 1.5rem;
}
@media (min-width: 900px) {
  main section#cards-container article {
    grid-template-columns: 1fr 2fr;
  }
}
@media (max-width: 650px) {
  main section#cards-container article {
    grid-template-columns: 1fr;
    padding: 2rem 0.7rem;
  }
}

.first-related {
  height: 70px;
  width: 100%;
}
@media (max-width: 650px) {
  .first-related {
    height: 100%;
  }
}

.more {
  position: relative;
}

div.card__first {
  display: grid;
  grid-template-rows: 1fr 0.45fr;
  gap: 1rem;
}
div.card__first > :first-child {
  border-radius: 1rem;
}
div.card__first .first__main-img {
  background-image: url("https://images.unsplash.com/photo-1541420565422-dd78ab4364ca?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
}
@media (max-width: 650px) {
  div.card__first .first__main-img {
    height: 300px;
  }
}
div.card__first .first-related--custom::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../png/gallery.png");
  background-size: cover;
  height: 2.5rem;
  width: 2.5rem;
}
@media (max-width: 650px) {
  div.card__first .first-related--custom::before {
    height: 3rem;
    width: 3rem;
  }
}
div.card__first .first__related-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}
@media (max-width: 650px) {
  div.card__first .first__related-img {
    height: 250px;
  }
}
div.card__first .first__related-img div {
  border-radius: 1rem;
  overflow: hidden;
}

.second__first > :not(:nth-child(4)) {
  margin-bottom: 1.5rem;
}

hr {
  background-color: #6C768E;
  border: none;
  height: 0.1rem;
}

.card__second .second__first-explore {
  background-color: #2A5F8C;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: 2fr 0.2fr;
}
.card__second .second__first-explore .first-explore__first {
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.card__second .second__first-explore .right-arrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ratings {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.ratings .reviews {
  color: #6C768E;
}

.card__heading h2 {
  font-size: 22px;
  width: 80%;
}

.card__bio:has(:nth-child(4)) {
  -moz-columns: 2;
       columns: 2;
}
.card__bio:has(:nth-child(4)) > * {
  margin-bottom: 1.5rem;
}
.card__bio:has(:nth-child(4)) > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}
@media (max-width: 620px) {
  .card__bio:has(:nth-child(4)) > div {
    gap: 0.3rem;
  }
}

.second__second > :not(div :last-child) {
  margin-bottom: 1.5rem;
}

.second__button {
  background-color: #5BB291;
  color: #fff;
}

.second__inner-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.second__inner-first div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.second__inner-first div p {
  color: #3A735D;
}
.second__inner-first div .bold {
  font-weight: 600;
}
.second__inner-first div .price {
  font-size: 26px;
  padding: 0 0.4rem;
}
.second__inner-first div .prev-price {
  color: #6C768E;
  margin-bottom: -0.24rem;
  text-decoration: line-through;
  white-space: nowarap;
}

.package {
  font-size: 0.6rem;
  text-align: right;
  text-decoration: underline;
}

.second__inner-second {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
}
.second__inner-second .learn {
  background-color: #000;
  color: #fff;
}
.second__inner-second .check {
  background-color: #2A5F8C;
  color: #000;
}/*# sourceMappingURL=main.css.map */